@import "analog-clock.css";
@import "quotes.css";
@import "time.css";
@import "login.css";
@import "to-do-form.css";
@import "weather.css";
.hidden {
  display: none;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.greeting {
  font-size: 50px;
}
